	<!-- menu -->
	<section id="menu">
		<div class="container">
		<div class="menu-area">
			<!-- Navbar -->
			<div class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>          
			</div>
			<div class="navbar-collapse collapse">
				<!-- Left nav -->
				<ul class="nav navbar-nav">
				<li><a href="/">TRANG CHỦ</a></li>
				<li><a href="tin-tuc.html">TIN TỨC</a></li>
				<li><a href="#">GAME <span class="caret"></span></a>
					<ul class="dropdown-menu">                
					<li><a href="#">Hành động</a>
						<ul class="dropdown-menu">
						<li><a href="#">FPS</a></li>
						<li><a href="#">TPF</a></li>
						<li><a href="#">Chặt chém</a></li>                                      
						</ul>
					</li>
					<li><a href="#">Phiêu lưu</a>
						<ul class="dropdown-menu">
						<li><a href="#">Thế giới mở</a></li>
						<li><a href="#">Nhập vai</a></li>
						<li><a href="#">Sinh tồn</a></li>
						<li><a href="#">Kinh dị</a></li>
						<li><a href="#">Steath</a></li>						
						</ul>
					</li>
					<li><a href="#">Chiến thuật</a>
						<ul class="dropdown-menu">
						<li><a href="#">Thủ thành</a></li>
						<li><a href="#">Theo lượt</a></li>
						<li><a href="#">Thời gian thực</a></li>					
						</ul>
					</li>
					<li><a href="#">Thể thao</a></li>                                                
					<li><a href="#">Khác</a>
						<ul class="dropdown-menu">
						<li><a href="#">Indie</a></li>
						<li><a href="#">Mô phỏng-quản lý</a></li>
						<li><a href="#">Multiplayer</a></li>						
						</ul>
					</li>              
					</ul>
				</li>              		  
				<li><a href="#">THÔNG TIN<span class="caret"></span></a>
					<ul class="dropdown-menu">                
					<li><a href="#">Chính sách bảo mật</a></li>
					<li><a href="#">Điều khoản dịch vụ</a></li>  
					<li><a href="#">Liên hệ</a></li>              
					</ul>
				</li>             				
				</ul>
			</div><!--/.nav-collapse -->
			</div>
		</div>       
		</div>
	</section>
	<!-- / menu -->
	
	<!-- catg header banner section -->
	<section id="aa-catg-head-banner">
	<div class="header-banner-size">
		<div class="aa-catg-head-banner-area">
			<div class="container">
				<div class="aa-catg-head-banner-content">
				<h2>Đăng nhập - Đăng kí</h2>
				<ol class="breadcrumb">
					<li><a href="index.html">Trang chủ</a></li>                   
					<li class="active">Tài khoản</li>
				</ol>
				</div>
			</div>
		</div>
	</div>
	</section>
	<!-- / catg header banner section -->
	
	<!-- Cart view section -->
	<section id="aa-myaccount">
	<div class="container">
		<div class="row">
		<div class="col-md-12">
		<div class="aa-myaccount-area">         
			<div class="row">
				<div class="col-md-6">
				<div class="aa-myaccount-login">
				<h4>Đăng nhập</h4>
					<form action="" class="aa-login-form">
					<label for="">Tên đăng nhập<span>*</span></label>
					<input type="text" placeholder="Tên đăng nhập">
					<label for="">Mật khẩu<span>*</span></label>
					<input type="password" placeholder="Mật khẩu">
					<button type="submit" class="aa-browse-btn">Đăng nhập</button>
					<label class="rememberme" for="rememberme"><input type="checkbox" id="rememberme"> Nhớ tài khoản </label>
					<p class="aa-lost-password"><a href="#">Quên mật khẩu?</a></p>
					</form>
				</div>
				</div>
				<div class="col-md-6">
				<div class="aa-myaccount-register">                 
					<h4>Đăng ký</h4>
					<form action="" class="aa-login-form">
					<label for="">Họ tên<span>*</span></label>
					<input type="text" placeholder="Họ tên">
					<label for="">Tên đăng nhập<span>*</span></label>
					<input type="text" placeholder="Tên đăng nhập">
					<label for="">Email<span>*</span></label>
					<input type="email" placeholder="Email">
					<label for="">Mật khẩu<span>*</span></label>
					<input type="password" placeholder="Mật khẩu">
					<label for="">Nhập lại mật khẩu<span>*</span></label>
					<input type="password" placeholder="Nhập lại mật khẩu">
					<label for="">Số điện thoại<span>*</span></label>
					<input type="number" placeholder="Số điện thoại">
					<label for="">Địa chỉ<span>*</span></label>
					<input type="text" placeholder="Địa chỉ">
					<button type="submit" class="aa-browse-btn">Đăng kí</button>                    
					</form>
				</div>
				</div>
			</div>          
			</div>
		</div>
		</div>
	</div>
	</section>
	<!-- / Cart view section -->
