<!-- menu -->
<section id="menu">
	<div class="container">
	<div class="menu-area">
		<!-- Navbar -->
		<div class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>          
		</div>
		<div class="navbar-collapse collapse">
			<!-- Left nav -->
			<ul class="nav navbar-nav">
			<li><a href="/">TRANG CHỦ</a></li>
			<li><a href="#">TIN TỨC</a></li>
			<li><a href="san-pham.hbs">GAME <span class="caret"></span></a>
				<ul class="dropdown-menu">                
				<li><a href="#">Hành động</a>
					<ul class="dropdown-menu">
					<li><a href="#">FPS</a></li>
					<li><a href="#">TPF</a></li>
					<li><a href="#">Chặt chém</a></li>                                      
					</ul>
				</li>
				<li><a href="#">Phiêu lưu</a>
					<ul class="dropdown-menu">
					<li><a href="#">Thế giới mở</a></li>
					<li><a href="#">Nhập vai</a></li>
					<li><a href="#">Sinh tồn</a></li>
					<li><a href="#">Kinh dị</a></li>
					<li><a href="#">Steath</a></li>						
					</ul>
				</li>
				<li><a href="#">Chiến thuật</a</li>
				<li><a href="#">Thể thao</a></li>                                                
				<li><a href="#">Khác</a>
					<ul class="dropdown-menu">
					<li><a href="#">Indie</a></li>
					<li><a href="#">Mô phỏng-quản lý</a></li>
					<li><a href="#">Multiplayer</a></li>						
					</ul>
				</li>              
				</ul>
			</li>              		  
			<li><a href="#">THÔNG TIN<span class="caret"></span></a>
				<ul class="dropdown-menu">                
				<li><a href="#">Chính sách bảo mật</a></li>
				<li><a href="#">Điều khoản dịch vụ</a></li>  
				<li><a href="#">Liên hệ</a></li>              
				</ul>
			</li>             				
			</ul>
		</div><!--/.nav-collapse -->
		</div>
	</div>       
	</div>
</section>
<!-- / menu -->

<!-- catg header banner section -->
<section id="aa-catg-head-banner">
<div class="header-banner-size">
	<div class="aa-catg-head-banner-area">
		<div class="container">
			<div class="aa-catg-head-banner-content">
			<h2>Thanh toán</h2>
			<ol class="breadcrumb">
				<li><a href="/">Trang chủ</a></li>
				<li><a href="gio-hang.hbs">Giỏ hàng</a></li>					
				<li class="active">Thanh toán</li>
			</ol>
			</div>
		</div>
	</div>
</div>
</section>
<!-- / catg header banner section -->

<!-- Cart view section -->
 <section id="checkout">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
        <div class="checkout-area">
          <form action="">
            <div class="row">
              <div class="col-md-8">
                <div class="checkout-left">
                  <div class="panel-group" id="accordion">
                    <!-- Coupon section -->
                    <div class="panel panel-default aa-checkout-coupon">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            Áp dụng mã khuyến mãi?
                          </a>
                        </h4>
                      </div>
                      <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                          <input type="text" placeholder="Mã khuyến mãi" class="aa-coupon-code">
                          <input type="submit" value="Áp dụng mã" class="aa-browse-btn">
                        </div>
                      </div>
                    </div>

                    <!-- Shipping Address -->
                    <div class="panel panel-default aa-checkout-billaddress">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                            Địa chỉ giao hàng
                          </a>
                        </h4>
                      </div>
                      <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                         <div class="row">
                            <div class="col-md-6">
                              <div class="aa-checkout-single-bill">
                                <input type="text" placeholder="Họ*">
                              </div>                             
                            </div>
                            <div class="col-md-6">
                              <div class="aa-checkout-single-bill">
                                <input type="text" placeholder="Tên*">
                              </div>
                            </div>
                          </div> 
                          <div class="row">
                            <div class="col-md-12">
                              <div class="aa-checkout-single-bill">
                                <input type="text" placeholder="Tên công ty">
                              </div>                             
                            </div>                            
                          </div>  
                          <div class="row">
                            <div class="col-md-6">
                              <div class="aa-checkout-single-bill">
                                <input type="email" placeholder="Email*">
                              </div>                             
                            </div>
                            <div class="col-md-6">
                              <div class="aa-checkout-single-bill">
                                <input type="tel" placeholder="Số điện thoại*">
                              </div>
                            </div>
                          </div> 
                          <div class="row">
                            <div class="col-md-12">
                              <div class="aa-checkout-single-bill">
                                <textarea cols="8" rows="3">Địa chỉ*</textarea>
                              </div>                             
                            </div>                            
                          </div>   
                          <div class="row">
                            <div class="col-md-12">
                              <div class="aa-checkout-single-bill">
                                <select>
                                  <option value="0">Chọn quốc gia</option>
                                  <option value="1">Australia</option>
                                  <option value="2">Afganistan</option>
                                  <option value="3">Bangladesh</option>
                                  <option value="4">Belgium</option>
                                  <option value="5">Brazil</option>
                                  <option value="6">Canada</option>
                                  <option value="7">China</option>
                                  <option value="8">Denmark</option>
                                  <option value="9">Egypt</option>
                                  <option value="10">India</option>
                                  <option value="11">Iran</option>
                                  <option value="12">Israel</option>
                                  <option value="13">Mexico</option>
								  <option value="14">Viet Nam</option>
                                  <option value="15">UAE</option>
                                  <option value="16">UK</option>
                                  <option value="17">USA</option>
                                </select>
                              </div>                             
                            </div>                            
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="aa-checkout-single-bill">
                                <input type="text" placeholder="Phường*">
                              </div>                             
                            </div>
                            <div class="col-md-6">
                              <div class="aa-checkout-single-bill">
                                <input type="text" placeholder="Quận*">
                              </div>
                            </div>
                          </div>   
                          <div class="row">
                            <div class="col-md-6">
                              <div class="aa-checkout-single-bill">
                                <input type="text" placeholder="Thành phố*">
                              </div>                             
                            </div>
                            <div class="col-md-6">
                              <div class="aa-checkout-single-bill">
                                <input type="text" placeholder="Mã bưu điện/ ZIP*">
                              </div>
                            </div>
                          </div> 
                           <div class="row">
                            <div class="col-md-12">
                              <div class="aa-checkout-single-bill">
                                <textarea cols="8" rows="3">Ghi chú</textarea>
                              </div>                             
                            </div>                            
                          </div>              
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="checkout-right">
                  <h4>Đơn hàng</h4>
                  <div class="aa-order-summary-area">
                    <table class="table table-responsive">
                      <thead>
                        <tr>
                          <th>Sản phẩm</th>
                          <th>Tổng</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>NBA 2k19 <strong> x  1</strong></td>
                          <td>912.000 VND</td>
                        </tr>
                        <tr>
                          <td>No Man's Sky <strong> x  2</strong></td>
                          <td>892.000 VND</td>
                        </tr>        
                      </tbody>
                      <tfoot>
                        <tr>
                          <th>Tổng giá trị sản phẩm</th>
                          <td>1.804.000 VND</td>
                        </tr>
                         <tr>
                          <th>Thuế</th>
                          <td>18.040 VND</td>
                        </tr>
                         <tr>
                          <th>Tổng cộng</th>
                          <td>1.822.040 VND</td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                  <h4>Phương thức thanh toán</h4>
                  <div class="aa-payment-method">                    
                    <label for="cashdelivery"><input type="radio" id="cashdelivery" name="optionsRadios"> Trả tiền mặt khi nhận hàng </label>
                    <label for="paypal"><input type="radio" id="paypal" name="optionsRadios" checked> Thẻ ngân hàng </label>
                    <img src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_mc_vs_dc_ae.jpg" border="0" alt="PayPal Acceptance Mark">    
                    <input type="submit" value="Đặt hàng" class="aa-browse-btn">                
                  </div>
                </div>
              </div>
            </div>
          </form>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- / Cart view section -->