<!-- menu -->
<section id="menu">
	<div class="container">
	<div class="menu-area">
		<!-- Navbar -->
		<div class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>          
		</div>
		<div class="navbar-collapse collapse">
			<!-- Left nav -->
			<ul class="nav navbar-nav">
			<li><a href="/">TRANG CHỦ</a></li>
			<li><a href="#">TIN TỨC</a></li>
			<li><a href="san-pham.hbs">GAME <span class="caret"></span></a>
				<ul class="dropdown-menu">                
				<li><a href="#">Hành động</a>
					<ul class="dropdown-menu">
					<li><a href="#">FPS</a></li>
					<li><a href="#">TPF</a></li>
					<li><a href="#">Chặt chém</a></li>                                      
					</ul>
				</li>
				<li><a href="#">Phiêu lưu</a>
					<ul class="dropdown-menu">
					<li><a href="#">Thế giới mở</a></li>
					<li><a href="#">Nhập vai</a></li>
					<li><a href="#">Sinh tồn</a></li>
					<li><a href="#">Kinh dị</a></li>
					<li><a href="#">Steath</a></li>						
					</ul>
				</li>
				<li><a href="#">Chiến thuật</a></li>
				<li><a href="#">Thể thao</a></li>                                                
				<li><a href="#">Khác</a>
					<ul class="dropdown-menu">
					<li><a href="#">Indie</a></li>
					<li><a href="#">Mô phỏng-quản lý</a></li>
					<li><a href="#">Multiplayer</a></li>						
					</ul>
				</li>              
				</ul>
			</li>              		  
			<li><a href="#">THÔNG TIN<span class="caret"></span></a>
				<ul class="dropdown-menu">                
				<li><a href="#">Chính sách bảo mật</a></li>
				<li><a href="#">Điều khoản dịch vụ</a></li>  
				<li><a href="#">Liên hệ</a></li>              
				</ul>
			</li>             				
			</ul>
		</div><!--/.nav-collapse -->
		</div>
	</div>       
	</div>
</section>
<!-- / menu -->

<!-- catg header banner section -->
<section id="aa-catg-head-banner">
<div class="header-banner-size">
	<div class="aa-catg-head-banner-area">
		<div class="container">
			<div class="aa-catg-head-banner-content">
			<h2>Sekiro: Shadows Die Twice</h2>
			<ol class="breadcrumb">
				<li><a href="/">Trang chủ</a></li>
				<li><a href="san-pham.hbs">Games</a></li>				
				<li class="active">Sekiro: Shadows Die Twice</li>
			</ol>
			</div>
		</div>
	</div>
</div>
</section>
<!-- / catg header banner section -->

  <!-- product category -->
  <section id="aa-product-details">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-product-details-area">
            <div class="aa-product-details-content">
              <div class="row">
                <!-- Modal view slider -->
                <div class="col-md-5 col-sm-5 col-xs-12">                              
                  <div class="aa-product-view-slider">                                
                    <div id="demo-1" class="simpleLens-gallery-container">
                      <div class="simpleLens-container">
                        <div class="simpleLens-big-image-container"><a data-lens-image="/images/slider/sekiro-background.jpg" class="simpleLens-lens-image"><img src="/images/slider/sekiro-background.jpg" class="simpleLens-big-image"></a></div>
                      </div>
                      <div class="simpleLens-thumbnails-container">
                          <a data-big-image="/images/slider/sekiro-background.jpg" data-lens-image="/images/slider/sekiro-background.jpg" class="simpleLens-thumbnail-wrapper" href="#">
                            <img class="view-slider-size" src="/images/slider/sekiro-background.jpg">
                          </a>                                    
                          <a data-big-image="/images/slider/sekiro-background-2.jpg" data-lens-image="/images/slider/sekiro-background-2.jpg" class="simpleLens-thumbnail-wrapper" href="#">
                            <img class="view-slider-size" src="/images/slider/sekiro-background-2.jpg">
                          </a>
                          <a data-big-image="/images/slider/sekiro-background-3.jpg" data-lens-image="/images/slider/sekiro-background-3.jpg" class="simpleLens-thumbnail-wrapper" href="#">
                            <img class="view-slider-size" src="/images/slider/sekiro-background-3.jpg">
                          </a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Modal view content -->
                <div class="col-md-7 col-sm-7 col-xs-12">
                  <div class="aa-product-view-content">
                    <h3>Sekiro: Shadows Die Twice</h3>
                    <div class="aa-price-block">
                      <span class="aa-product-view-price">1.290.000 VND</span>
                      <p class="aa-product-avilability">Trạng thái: <span>Còn hàng</span></p>
                    </div>
                    <p>Carve your own clever path to vengeance in an all-new adventure from developer FromSoftware, creators of Bloodborne and the Dark Souls series. Take Revenge. Restore your honor. Kill Ingeniously.</p>             
                    <div class="aa-prod-quantity">                   
					  <p class="aa-prod-category">
                        Nhà phát triển: <a href="#">FromSoftware</a>
                      </p>
					  <p class="aa-prod-category">
                        Nhà phát hành: <a href="#">Activision (Excluding Japan and Asia)</a>
                      </p>
                      <p class="aa-prod-category">
                        Thể loại: <a href="#">Chặt chém</a> <a href="#">Nhập vai</a>
                      </p>
					  <p></p>
					  <p class="aa-prod-category">
						Số lượng:
					  </p>
					  <form action="">
                        <select id="" name="">
                          <option selected="1" value="0">1</option>
                          <option value="1">2</option>
                          <option value="2">3</option>
                          <option value="3">4</option>
                          <option value="4">5</option>
                          <option value="5">6</option>
						  <option value="6">7</option>
                          <option value="7">8</option>
                          <option value="8">9</option>
                          <option value="9">10</option>
                        </select>
                      </form>
                    </div>
                    <div class="aa-prod-view-bottom">
                      <a class="aa-add-to-cart-btn" href="#">Thêm vào giỏ</a>
                      <a class="aa-add-to-cart-btn" href="#">Thêm vào Wishlist</a>
                      <a class="aa-add-to-cart-btn" href="#">So sánh</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="aa-product-details-bottom">
              <ul class="nav nav-tabs" id="myTab2">
                <li><a href="#description" data-toggle="tab">Mô tả</a></li>
                <li><a href="#review" data-toggle="tab">Nhận xét</a></li>                
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div class="tab-pane fade in active" id="description">
                  <p>With over 50 awards and nominations, Sekiro: Shadows Die Twice is the next adventure from developer FromSoftware, creators of Bloodborne and the Dark Souls series. Carve your own clever path to vengeance in this all-new action-adventure title.</p>
                  <p>In Sekiro: Shadows Die Twice you are the "one-armed wolf", a disgraced and disfigured warrior rescued from the brink of death. Bound to protect a young lord who is the descendant of an ancient bloodline, you become the target of many vicious enemies, including the dangerous Ashina clan. When the young lord is captured, nothing will stop you on a perilous quest to regain your honor, not even death itself.</p>
                  <p>Explore late 1500s Sengoku Japan, a brutal period of constant life and death conflict, as you come face to face with larger than life foes in a dark and twisted world. Unleash an arsenal of deadly prosthetic tools and powerful ninja abilities while you blend stealth, vertical traversal, and visceral head to head combat in a bloody confrontation.</p>
				  <p>Take Revenge. Restore your honor. Kill Ingeniously.</p>
                </div>
                <div class="tab-pane fade " id="review">
                 <div class="aa-product-review-area">
                   <h4>2 Reviews</h4> 
                   <ul class="aa-review-nav">
                     <li>
                        <div class="media">
                          <div class="media-left">
                            <a href="#">
                              <img class="media-object" src="/images/testimonial-img-3.jpg" alt="girl image">
                            </a>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading"><strong>Nguyễn Văn A</strong> - <span>26/01/2019</span></h4>
                            <div class="aa-product-rating">
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star-o"></span>
                            </div>
                            <p>just buy this game
							thanks</p>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="media">
                          <div class="media-left">
                            <a href="#">
                              <img class="media-object" src="/images/testimonial-img-3.jpg" alt="girl image">
                            </a>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading"><strong>Marla Jobs</strong> - <span>21/02/2019</span></h4>
                            <div class="aa-product-rating">
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                            </div>
                            <p>In an era where full-priced games are filled to the brim with microtransactions, locked out content, or boring open worlds with equally boring cut-and-paste content, occasionally a gem like SEKIRO™: SHADOWS DIE TWICE comes along and reminds us why we play games in the first place.</p>
                          </div>
                        </div>
                      </li>
                   </ul>
                   <h4>Thêm nhận xét</h4>
                   <div class="aa-your-rating">
                     <p>Chấm điểm</p>
                     <a href="#"><span class="fa fa-star-o"></span></a>
                     <a href="#"><span class="fa fa-star-o"></span></a>
                     <a href="#"><span class="fa fa-star-o"></span></a>
                     <a href="#"><span class="fa fa-star-o"></span></a>
                     <a href="#"><span class="fa fa-star-o"></span></a>
                   </div>
                   <!-- review form -->
                   <form action="" class="aa-review-form">
                      <div class="form-group">
                        <label for="message">Nhận xét của bạn</label>
                        <textarea class="form-control" rows="3" id="message"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="name">Tên</label>
                        <input type="text" class="form-control" id="name" placeholder="Email">
                      </div>  
                      <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="example@gmail.com">
                      </div>
                      <button type="submit" class="btn btn-default aa-review-submit">Gửi</button>
                   </form>
                 </div>
                </div>            
              </div>
            </div>
            <!-- Related product -->
            <div class="aa-product-related-item">
              <h3>Game tương tự</h3>
              <ul class="aa-product-catg aa-related-item-slider">
                <!-- start single product item -->
                <li>
                  <figure>
                    <a class="aa-product-img" href="thong-tin-san-pham.hbs"><img src="images/game/god-of-war-4.jpg" alt="god of war 4 img"></a>
                    <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                     <figcaption>
                      <h4 class="aa-product-title"><a href="thong-tin-san-pham.hbs">God Of War 4</a></h4>
                      <span class="aa-product-price">700.000 VND</span>
                    </figcaption>
                  </figure>                     
                  <div class="aa-product-hvr-content">
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                    <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>                            
                  </div>
                  <!-- product badge -->
                  <span class="aa-badge aa-sale" href="#">SALE!</span>
                </li>                                                                                  
              </ul>
              <!-- quick view modal -->                  
                  <div class="modal fade" id="quick-view-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">                      
                        <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <div class="row">
                            <!-- Modal view slider -->
                            <div class="col-md-6 col-sm-6 col-xs-12">                              
                              <div class="aa-product-view-slider">                                
                                <div class="simpleLens-gallery-container" id="demo-1">
                                  <div class="simpleLens-container">
                                      <div class="simpleLens-big-image-container">
                                          <a class="simpleLens-lens-image" data-lens-image="/images/slider/sekiro-background.jpg">
                                              <img src="/images/slider/sekiro-background.jpg" class="simpleLens-big-image">
                                          </a>
                                      </div>
                                  </div>
                                  <div class="simpleLens-thumbnails-container">
                                      <a href="#" class="simpleLens-thumbnail-wrapper"
                                         data-lens-image="/images/slider/sekiro-background.jpg"
                                         data-big-image="/images/slider/sekiro-background.jpg">
                                          <img class="view-slider-size" src="/images/slider/sekiro-background.jpg">
                                      </a>                                    
                                      <a href="#" class="simpleLens-thumbnail-wrapper"
                                         data-lens-image="/images/slider/sekiro-background-2.jpg"
                                         data-big-image="/images/slider/sekiro-background-2.jpg">
                                          <img class="view-slider-size" src="/images/slider/sekiro-background-2.jpg">
                                      </a>

                                      <a href="#" class="simpleLens-thumbnail-wrapper"
                                         data-lens-image="/images/slider/sekiro-background-3.jpg"
                                         data-big-image="/images/slider/sekiro-background-3.jpg">
                                          <img class="view-slider-size" src="/images/slider/sekiro-background-3.jpg">
                                      </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- Modal view content -->
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <div class="aa-product-view-content">
                                <h3>Sekiro: Shadows Die Twice</h3>
                                <div class="aa-price-block">
                                  <span class="aa-product-view-price">1.290.000 VND</span>
                                  <p class="aa-product-avilability">Trạng thái: <span>Còn hàng</span></p>
                                </div>
                                <p>Carve your own clever path to vengeance in an all-new adventure from developer FromSoftware, creators of Bloodborne and the Dark Souls series. Take Revenge. Restore your honor. Kill Ingeniously.</p>                            
                                <div class="aa-prod-quantity">									
									<p class="aa-prod-category">
										Nhà phát triển: <a href="#">FromSoftware</a>
									</p>
									<p class="aa-prod-category">
										Nhà phát hành: <a href="#">Activision (Excluding Japan and Asia)</a>
									</p>
									<p class="aa-prod-category">
										Thể loại: <a href="#">Chặt chém</a> <a href="#">Nhập vai</a>
									</p>
									<p></p>
									<p class="aa-prod-category">
										Số lượng:
									</p>
									<form action="">
										<select id="" name="">
										<option selected="1" value="0">1</option>
										<option value="1">2</option>
										<option value="2">3</option>
										<option value="3">4</option>
										<option value="4">5</option>
										<option value="5">6</option>
										<option value="6">7</option>
										<option value="7">8</option>
										<option value="8">9</option>
										<option value="9">10</option>
										</select>
									</form>
                                </div>
                                <div class="aa-prod-view-bottom">
                                  <a href="#" class="aa-add-to-cart-btn"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ</a>
                                  <a href="thong-tin-san-pham.hbs" class="aa-add-to-cart-btn">Xem chi tiết</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>                        
                      </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                  </div><!-- / quick view modal -->   
            </div>  
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / product category -->