  <!-- menu -->
  <section id="menu">
    <div class="container">
      <div class="menu-area">
        <!-- Navbar -->
        <div class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>          
          </div>
          <div class="navbar-collapse collapse">
            <!-- Left nav -->
            <ul class="nav navbar-nav">
              <li><a class="active" href="/">TRANG CHỦ</a></li>
			  <li><a href="#">TIN TỨC</a></li>
              <li><a href="/game/list">GAME <span class="caret"></span></a>
                <ul class="dropdown-menu">                					
					{{#if categories}}
						{{#each categories}}
							<li><a href="#">{{this.name}}</a></li>
						{{/each}}
                    {{/if}}
				</ul>
              </li>              		  
              <li><a href="#">THÔNG TIN<span class="caret"></span></a>
                <ul class="dropdown-menu">                
                  <li><a href="#">Chính sách bảo mật</a></li>
                  <li><a href="#">Điều khoản dịch vụ</a></li>  
                  <li><a href="#">Liên hệ</a></li>              
                </ul>
              </li>                         
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>       
    </div>
  </section>
  <!-- / menu -->
  
  <!-- Start slider -->
  <section id="aa-slider">
    <div class="aa-slider-area">
      <div id="sequence" class="seq">
        <div class="seq-screen">
          <ul class="seq-canvas">
            <!-- single slide item -->
            <li>
              <div class="seq-model">
                <img data-seq src="/images/slider/gow-background.jpg" alt="God of war slide img" />
              </div>
              <div class="seq-title">
               <span data-seq>Giảm giá 30%</span>                
                <h2 data-seq>GOD OF WAR 4</h2>                
                <p data-seq>"To be effective in combat a warrior must not feel for his enemy, the road ahead is long and unforgiving. No place for a boy, you must be a warrior." - KRATOS</p>
                <a data-seq href="thong-tin-san-pham.hbs" class="aa-shop-now-btn aa-secondary-btn">MUA NGAY</a>
              </div>
            </li>
            <!-- single slide item -->
            <li>
              <div class="seq-model">
                <img data-seq src="/images/slider/re2-background.jpg" alt="Resident Evil 2 slide img" />
              </div>
              <div class="seq-title">
                <span data-seq>Giảm giá 40%</span>                
                <h2 data-seq>RESIDENT EVIL 2</h2>                
                <p data-seq>A deadly virus engulfs the residents of Raccoon City in September of 1998, plunging the city into chaos as flesh eating zombies roam the streets for survivors. An unparalleled adrenaline rush, gripping storyline, and unimaginable horrors await you. Witness the return of Resident Evil 2.</p>
                <a data-seq href="thong-tin-san-pham.hbs" class="aa-shop-now-btn aa-secondary-btn">MUA NGAY</a>
              </div>
            </li>
            <!-- single slide item -->
            <li>
              <div class="seq-model">
                <img data-seq src="/images/slider/gtav-background.jpg" alt="Grand Theft Auto V slide img" />
              </div>
              <div class="seq-title">
                <span data-seq>Giảm giá 60%</span>                
                <h2 data-seq>GRAND THEFT AUTO V</h2>                
                <p data-seq>Los Santos is a city of bright lights, long nights and dirty secrets, and they don’t come brighter, longer or dirtier than in GTA Online: After Hours. The party starts now.</p>
                <a data-seq href="thong-tin-san-pham.hbs" class="aa-shop-now-btn aa-secondary-btn">MUA NGAY</a>
              </div>
            </li>
            <!-- single slide item -->           
            <li>
              <div class="seq-model">
                <img data-seq src="/images/slider/sekiro-background.jpg" alt="Sekiro slide img" />
              </div>
              <div class="seq-title">
                <span data-seq>Giảm giá 10%</span>                
                <h2 data-seq>SEKIRO: SHADOWS DIE TWICE</h2>                
                <p data-seq>Carve your own clever path to vengeance in an all-new adventure. Take Revenge. Restore your honor. Kill Ingeniously.</p>
                <a data-seq href="thong-tin-san-pham.hbs" class="aa-shop-now-btn aa-secondary-btn">MUA NGAY</a>
              </div>
            </li>
            <!-- single slide item -->  
             <li>
              <div class="seq-model">
                <img data-seq src="/images/slider/ark-background.jpg" alt="ARK slide img" />
              </div>
              <div class="seq-title">
                <span data-seq>Giảm giá 30%</span>                
                <h2 data-seq>ARK: SURVIVAL EVOLVED</h2>                
                <p data-seq>Stranded on the shores of a mysterious island, you must learn to survive. Use your cunning to kill or tame the primeval creatures roaming the land, and encounter other players to survive, dominate... and escape!</p>
                <a data-seq href="thong-tin-san-pham.hbs" class="aa-shop-now-btn aa-secondary-btn">MUA NGAY</a>
              </div>
            </li>                   
          </ul>
        </div>
        <!-- slider navigation btn -->
        <fieldset class="seq-nav" aria-controls="sequence" aria-label="Slider buttons">
          <a type="button" class="seq-prev" aria-label="Previous"><span class="fa fa-angle-left"></span></a>
          <a type="button" class="seq-next" aria-label="Next"><span class="fa fa-angle-right"></span></a>
        </fieldset>
      </div>
    </div>
  </section>
  <!-- / slider -->
  
    <!-- popular section -->
  <section id="aa-popular-category">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="aa-popular-category-area">
              <!-- start prduct navigation -->
             <ul class="nav nav-tabs aa-products-tab">
                <li class="active"><a href="#popular" data-toggle="tab">BÁN CHẠY</a></li>
                <li><a href="#featured" data-toggle="tab">NỔI BẬT</a></li>
                <li><a href="#latest" data-toggle="tab">MỚI NHẤT</a></li>                    
              </ul>
              <!-- Tab panes -->
              <div class="tab-content">
                <!-- Start popular category -->
                <div class="tab-pane fade in active" id="popular">
                  <ul class="aa-product-catg aa-popular-slider">
                    <!-- start single product item -->
                    <li>
                      <figure>
                        <a class="aa-product-img" href="thong-tin-san-pham.hbs"><img src="/images/game/mortal-kombat-11.png" alt="mortal kombat 11 img"></a>
                        <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ</a>
                         <figcaption>
                          <h4 class="aa-product-title"><a href="thong-tin-san-pham.hbs">Mortal Kombat 11</a></h4>
                          <span class="aa-product-price">990.000 VND</span>
                        </figcaption>
                      </figure>                     
                      <div class="aa-product-hvr-content">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Thêm vào Wishlist"><span class="fa fa-heart-o"></span></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="So sánh"><span class="fa fa-exchange"></span></a>
                        <a href="#" data-toggle2="tooltip" data-placement="top" title="Xem nhanh" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>                            
                      </div>            
                    </li>
					<!-- start single product item -->
                    <li>
                      <figure>
                        <a class="aa-product-img" href="thong-tin-san-pham.hbs"><img src="/images/game/pubg.jpg" alt="pubg img"></a>
                        <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ</a>
                         <figcaption>
                          <h4 class="aa-product-title"><a href="thong-tin-san-pham.hbs">PLAYERUNKNOWN'S BATTLEGROUNDS</a></h4>
                          <span class="aa-product-price">340.000 VND</span>
                        </figcaption>
                      </figure>                     
                      <div class="aa-product-hvr-content">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Thêm vào Wishlist"><span class="fa fa-heart-o"></span></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="So sánh"><span class="fa fa-exchange"></span></a>
                        <a href="#" data-toggle2="tooltip" data-placement="top" title="Xem nhanh" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>                            
                      </div>
                    </li>
					<!-- start single product item -->
                    <li>
                      <figure>
                        <a class="aa-product-img" href="thong-tin-san-pham.hbs"><img src="/images/game/sekiro.jpg" alt="sekiro img"></a>
                        <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ</a>
                         <figcaption>
                          <h4 class="aa-product-title"><a href="thong-tin-san-pham.hbs">Sekiro: Shadows die twice</a></h4>
                          <span class="aa-product-price">1.290.000 VND</span>
                        </figcaption>
                      </figure>                     
                      <div class="aa-product-hvr-content">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Thêm vào Wishlist"><span class="fa fa-heart-o"></span></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="So sánh"><span class="fa fa-exchange"></span></a>
                        <a href="#" data-toggle2="tooltip" data-placement="top" title="Xem nhanh" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>                            
                      </div>
                      <!-- product badge -->
                      <span class="aa-badge aa-hot" href="#">HOT!</span>
                    </li>
					<!-- start single product item -->
                    <li>
                      <figure>
                        <a class="aa-product-img" href="thong-tin-san-pham.hbs"><img src="/images/game/rocket-league.jpg" alt="rocket league img"></a>
                        <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ</a>
                         <figcaption>
                          <h4 class="aa-product-title"><a href="thong-tin-san-pham.hbs">Rocket League</a></h4>
						  <span class="aa-product-price small-text"><del>188.000 VND</del></span><br>
                          <span class="aa-product-price">113.000 VND</span>
                        </figcaption>
                      </figure>                     
                      <div class="aa-product-hvr-content">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Thêm vào Wishlist"><span class="fa fa-heart-o"></span></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="So sánh"><span class="fa fa-exchange"></span></a>
                        <a href="#" data-toggle2="tooltip" data-placement="top" title="Xem nhanh" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>                            
                      </div>
                      <!-- product badge -->
                      <span class="aa-badge aa-sale" href="#">-40%</span>
                    </li>
					<!-- start single product item -->
                    <li>
                      <figure>
                        <a class="aa-product-img" href="thong-tin-san-pham.hbs"><img src="/images/game/dying-light.jpg" alt="dying light img"></a>
                        <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ</a>
                         <figcaption>
                          <h4 class="aa-product-title"><a href="thong-tin-san-pham.hbs">Dying Light: Enhanced Edition</a></h4>
						  <span class="aa-product-price small-text"><del>549.000 VND</del></span><br>
                          <span class="aa-product-price">164.000 VND</span>
                        </figcaption>
                      </figure>                     
                      <div class="aa-product-hvr-content">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Thêm vào Wishlist"><span class="fa fa-heart-o"></span></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="So sánh"><span class="fa fa-exchange"></span></a>
                        <a href="#" data-toggle2="tooltip" data-placement="top" title="Xem nhanh" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>                            
                      </div>
                      <!-- product badge -->
                      <span class="aa-badge aa-sale" href="#">-70%</span>
                    </li>
					<!-- start single product item -->
                    <li>
                      <figure>
                        <a class="aa-product-img" href="thong-tin-san-pham.hbs"><img src="/images/game/stardew-valley.jpg" alt="stardew valley img"></a>
                        <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ</a>
                         <figcaption>
                          <h4 class="aa-product-title"><a href="thong-tin-san-pham.hbs">Stardew Valley</a></h4>
                          <span class="aa-product-price">165.000 VND</span>
                        </figcaption>
                      </figure>                     
                      <div class="aa-product-hvr-content">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Thêm vào Wishlist"><span class="fa fa-heart-o"></span></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="So sánh"><span class="fa fa-exchange"></span></a>
                        <a href="#" data-toggle2="tooltip" data-placement="top" title="Xem nhanh" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>                            
                      </div>
                    </li>
                  </ul>
                  <a class="aa-browse-btn" href="#">Xem tất cả <span class="fa fa-long-arrow-right"></span></a>
                </div>
                <!-- / popular product category -->
                
                <!-- start featured product category -->
                <div class="tab-pane fade" id="featured">
                 <ul class="aa-product-catg aa-featured-slider">
					<!-- start single product item -->
                    <li>
                      <figure>
                        <a class="aa-product-img" href="thong-tin-san-pham.hbs"><img src="/images/game/sekiro.jpg" alt="sekiro img"></a>
                        <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ</a>
                         <figcaption>
                          <h4 class="aa-product-title"><a href="thong-tin-san-pham.hbs">Sekiro: Shadows die twice</a></h4>
                          <span class="aa-product-price">1.290.000 VND</span>
                        </figcaption>
                      </figure>                     
                      <div class="aa-product-hvr-content">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Thêm vào Wishlist"><span class="fa fa-heart-o"></span></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="So sánh"><span class="fa fa-exchange"></span></a>
                        <a href="#" data-toggle2="tooltip" data-placement="top" title="Xem nhanh" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>                            
                      </div>
                      <!-- product badge -->
                      <span class="aa-badge aa-hot" href="#">HOT!</span>
                    </li>
                    <!-- start single product item -->
                    <li>
                      <figure>
                        <a class="aa-product-img" href="thong-tin-san-pham.hbs"><img src="/images/game/god-of-war-4.jpg" alt="god of war 4 img"></a>
                        <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ</a>
                         <figcaption>
                          <h4 class="aa-product-title"><a href="thong-tin-san-pham.hbs">God Of War 4</a></h4>
                          <span class="aa-product-price">700.000 VND</span>
                        </figcaption>
                      </figure>                     
                      <div class="aa-product-hvr-content">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Thêm vào Wishlist"><span class="fa fa-heart-o"></span></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="So sánh"><span class="fa fa-exchange"></span></a>
                        <a href="#" data-toggle2="tooltip" data-placement="top" title="Xem nhanh" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>                            
                      </div>
                      <!-- product badge -->
                      <span class="aa-badge aa-hot" href="#">HOT!</span>
                    </li>                                                                                   
					<!-- start single product item -->
                    <li>
                      <figure>
                        <a class="aa-product-img" href="thong-tin-san-pham.hbs"><img src="/images/game/red-dead-2.jpg" alt="red dead redemption 2 img"></a>
                        <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ</a>
                         <figcaption>
                          <h4 class="aa-product-title"><a href="thong-tin-san-pham.hbs">Red Dead Redemption 2</a></h4>
                          <span class="aa-product-price">1.130.000 VND</span>
                        </figcaption>
                      </figure>                     
                      <div class="aa-product-hvr-content">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Thêm vào Wishlist"><span class="fa fa-heart-o"></span></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="So sánh"><span class="fa fa-exchange"></span></a>
                        <a href="#" data-toggle2="tooltip" data-placement="top" title="Xem nhanh" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>                            
                      </div>
                      <!-- product badge -->
                      <span class="aa-badge aa-hot" href="#">HOT!</span>
                    </li>
					<!-- start single product item -->
                    <li>
                      <figure>
                        <a class="aa-product-img" href="thong-tin-san-pham.hbs"><img src="/images/game/re2.jpg" alt="resident evil 2 img"></a>
                        <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ</a>
                         <figcaption>
                          <h4 class="aa-product-title"><a href="thong-tin-san-pham.hbs">Resident Evil 2</a></h4>
                          <span class="aa-product-price">800.000 VND</span>
                        </figcaption>
                      </figure>                     
                      <div class="aa-product-hvr-content">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Thêm vào Wishlist"><span class="fa fa-heart-o"></span></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="So sánh"><span class="fa fa-exchange"></span></a>
                        <a href="#" data-toggle2="tooltip" data-placement="top" title="Xem nhanh" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>                            
                      </div>
                      <!-- product badge -->
                      <span class="aa-badge aa-hot" href="#">HOT!</span>
                    </li>
					<!-- start single product item -->
                    <li>
                      <figure>
                        <a class="aa-product-img" href="thong-tin-san-pham.hbs"><img src="/images/game/far-cry-new-dawn.jpg" alt="far cry new dawn img"></a>
                        <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ</a>
                         <figcaption>
                          <h4 class="aa-product-title"><a href="thong-tin-san-pham.hbs">Fra Cry New Dawn</a></h4>
                          <span class="aa-product-price">739.000 VND</span>
                        </figcaption>
                      </figure>                     
                      <div class="aa-product-hvr-content">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Thêm vào Wishlist"><span class="fa fa-heart-o"></span></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="So sánh"><span class="fa fa-exchange"></span></a>
                        <a href="#" data-toggle2="tooltip" data-placement="top" title="Xem nhanh" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>                            
                      </div>
                      <!-- product badge -->
                      <span class="aa-badge aa-hot" href="#">HOT!</span>
                    </li>
					<!-- start single product item -->
                    <li>
                      <figure>
                        <a class="aa-product-img" href="thong-tin-san-pham.hbs"><img src="/images/game/devil-may-cry-5.jpg" alt="devil may cry 5 img"></a>
                        <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ</a>
                         <figcaption>
                          <h4 class="aa-product-title"><a href="thong-tin-san-pham.hbs">Devil May Cry 5</a></h4>
                          <span class="aa-product-price">800.000 VND</span>
                        </figcaption>
                      </figure>                     
                      <div class="aa-product-hvr-content">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Thêm vào Wishlist"><span class="fa fa-heart-o"></span></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="So sánh"><span class="fa fa-exchange"></span></a>
                        <a href="#" data-toggle2="tooltip" data-placement="top" title="Xem nhanh" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>                            
                      </div>
                      <!-- product badge -->
                      <span class="aa-badge aa-hot" href="#">HOT!</span>
                    </li>	
				  </ul>
                  <a class="aa-browse-btn" href="#">Xem tất cả <span class="fa fa-long-arrow-right"></span></a>
                </div>
                <!-- / featured product category -->

                <!-- start latest product category -->
                <div class="tab-pane fade" id="latest">
                  <ul class="aa-product-catg aa-latest-slider">
                    <!-- start single product item -->
                    <li>
                      <figure>
                        <a class="aa-product-img" href="thong-tin-san-pham.hbs"><img src="/images/game/zombotron.png" alt="zombotron img"></a>
                        <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ</a>
                         <figcaption>
                          <h4 class="aa-product-title"><a href="thong-tin-san-pham.hbs">Zombotron</a></h4>
						  <span class="aa-product-price small-text"><del>165.000 VND</del></span><br>
                          <span class="aa-product-price">140.000 VND</span>
                        </figcaption>
                      </figure>                     
                      <div class="aa-product-hvr-content">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Thêm vào Wishlist"><span class="fa fa-heart-o"></span></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="So sánh"><span class="fa fa-exchange"></span></a>
                        <a href="#" data-toggle2="tooltip" data-placement="top" title="Xem nhanh" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>                            
                      </div>
                      <!-- product badge -->
                      <span class="aa-badge aa-sale" href="#">-15%</span>
                    </li>
                    <!-- start single product item -->
                    <li>
                      <figure>
                        <a class="aa-product-img" href="thong-tin-san-pham.hbs"><img src="/images/game/forager.jpg" alt="forager img"></a>
                        <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ</a>
                         <figcaption>
                          <h4 class="aa-product-title"><a href="thong-tin-san-pham.hbs">Forager</a></h4>
                          <span class="aa-product-price">188.000 VND</span>
                        </figcaption>
                      </figure>                     
                      <div class="aa-product-hvr-content">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Thêm vào Wishlist"><span class="fa fa-heart-o"></span></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="So sánh"><span class="fa fa-exchange"></span></a>
                        <a href="#" data-toggle2="tooltip" data-placement="top" title="Xem nhanh" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>                            
                      </div>
                      <!-- product badge -->
                      <span class="aa-badge aa-sale" href="#">NEW!</span>
                    </li>
					<!-- start single product item -->
                    <li>
                      <figure>
                        <a class="aa-product-img" href="thong-tin-san-pham.hbs"><img src="/images/game/staxel.jpg" alt="staxel img"></a>
                        <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ</a>
                         <figcaption>
                          <h4 class="aa-product-title"><a href="thong-tin-san-pham.hbs">Staxel</a></h4>
                          <span class="aa-product-price">188.000 VND</span>
                        </figcaption>
                      </figure>                     
                      <div class="aa-product-hvr-content">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Thêm vào Wishlist"><span class="fa fa-heart-o"></span></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="So sánh"><span class="fa fa-exchange"></span></a>
                        <a href="#" data-toggle2="tooltip" data-placement="top" title="Xem nhanh" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>                            
                      </div>
                      <!-- product badge -->
                      <span class="aa-badge aa-sale" href="#">NEW!</span>
                    </li>					
                  </ul>
                   <a class="aa-browse-btn" href="#">Xem tất cả <span class="fa fa-long-arrow-right"></span></a>
                </div>
                <!-- / latest product category -->              
              </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </section>
  <!-- / popular section -->
  
  <!-- banner section -->
  <section id="aa-banner">
    <div class="container">
      <div class="row">
        <div class="col-md-12">        
          <div class="row">
            <div class="aa-banner-area">
            <a href="#"><img src="/images/website-banner.png" alt="banner img"></a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- banner section -->
  
  <!-- Game section -->
  <section id="aa-product">
    <div class="container ">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="aa-product-area">
              <div class="aa-product-inner">
                <!-- start prduct navigation -->
                 <ul class="nav nav-tabs aa-products-tab">
                    <li class="active"><a href="#game" data-toggle="tab">Game</a></li>                    
                  </ul>
                  <!-- Tab panes -->
                  <div class="tab-content">
                    <!-- Start game product category -->
                    <div class="tab-pane fade in active" id="game">
                      <ul class="aa-product-catg">
                        <!-- start single product item -->
						<li>
							<figure>
								<a class="aa-product-img" href="thong-tin-san-pham.hbs"><img class="product-frame-size" src="/images/game/sekiro.jpg" alt="sekiro img"></a>
								<a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ</a>
								<figcaption>
								<h4 class="aa-product-title"><a href="thong-tin-san-pham.hbs">Sekiro: Shadows die twice</a></h4>
								<span class="aa-product-price">1.290.000 VND</span>
								</figcaption>
							</figure>                     
							<div class="aa-product-hvr-content">
								<a href="#" data-toggle="tooltip" data-placement="top" title="Thêm vào Wishlist"><span class="fa fa-heart-o"></span></a>
								<a href="#" data-toggle="tooltip" data-placement="top" title="So sánh"><span class="fa fa-exchange"></span></a>
								<a href="#" data-toggle2="tooltip" data-placement="top" title="Xem nhanh" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>                            
							</div>
							<!-- product badge -->
							<span class="aa-badge aa-hot" href="#">HOT!</span>
						</li>
                        <!-- start single product item -->
						<li>
						<figure>
							<a class="aa-product-img" href="thong-tin-san-pham.hbs"><img class="product-frame-size" src="/images/game/red-dead-2.jpg" alt="red dead redemption 2 img"></a>
							<a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ</a>
							<figcaption>
							<h4 class="aa-product-title"><a href="thong-tin-san-pham.hbs">Red Dead Redemption 2</a></h4>
							<span class="aa-product-price">1.130.000 VND</span>
							</figcaption>
						</figure>                     
						<div class="aa-product-hvr-content">
							<a href="#" data-toggle="tooltip" data-placement="top" title="Thêm vào Wishlist"><span class="fa fa-heart-o"></span></a>
							<a href="#" data-toggle="tooltip" data-placement="top" title="So sánh"><span class="fa fa-exchange"></span></a>
							<a href="#" data-toggle2="tooltip" data-placement="top" title="Xem nhanh" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>                            
						</div>
						<!-- product badge -->
						<span class="aa-badge aa-hot" href="#">HOT!</span>
						</li>
						<!-- start single product item -->
						<li>
						<figure>
							<a class="aa-product-img" href="thong-tin-san-pham.hbs"><img class="product-frame-size" src="/images/game/re2.jpg" alt="resident evil 2 img"></a>
							<a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ</a>
							<figcaption>
							<h4 class="aa-product-title"><a href="thong-tin-san-pham.hbs">Resident Evil 2</a></h4>
							<span class="aa-product-price">800.000 VND</span>
							</figcaption>
						</figure>                     
						<div class="aa-product-hvr-content">
							<a href="#" data-toggle="tooltip" data-placement="top" title="Thêm vào Wishlist"><span class="fa fa-heart-o"></span></a>
							<a href="#" data-toggle="tooltip" data-placement="top" title="So sánh"><span class="fa fa-exchange"></span></a>
							<a href="#" data-toggle2="tooltip" data-placement="top" title="Xem nhanh" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>                            
						</div>
						<!-- product badge -->
						<span class="aa-badge aa-hot" href="#">HOT!</span>
						</li>
						<!-- start single product item -->
						<li>
						<figure>
							<a class="aa-product-img" href="thong-tin-san-pham.hbs"><img class="product-frame-size" src="/images/game/far-cry-new-dawn.jpg" alt="far cry new dawn img"></a>
							<a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ</a>
							<figcaption>
							<h4 class="aa-product-title"><a href="thong-tin-san-pham.hbs">Fra Cry New Dawn</a></h4>
							<span class="aa-product-price">739.000 VND</span>
							</figcaption>
						</figure>                     
						<div class="aa-product-hvr-content">
							<a href="#" data-toggle="tooltip" data-placement="top" title="Thêm vào Wishlist"><span class="fa fa-heart-o"></span></a>
							<a href="#" data-toggle="tooltip" data-placement="top" title="So sánh"><span class="fa fa-exchange"></span></a>
							<a href="#" data-toggle2="tooltip" data-placement="top" title="Xem nhanh" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>                            
						</div>
						<!-- product badge -->
						<span class="aa-badge aa-hot" href="#">HOT!</span>
						</li>     
						<!-- start single product item -->
						<li>
						<figure>
							<a class="aa-product-img" href="thong-tin-san-pham.hbs"><img class="product-frame-size" src="/images/game/zombotron.png" alt="zombotron img"></a>
							<a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ</a>
							<figcaption>
							<h4 class="aa-product-title"><a href="thong-tin-san-pham.hbs">Zombotron</a></h4>
							<span class="aa-product-price small-text"><del>165.000 VND</del></span><br>
							<span class="aa-product-price">140.000 VND</span>
							</figcaption>
						</figure>                     
						<div class="aa-product-hvr-content">
							<a href="#" data-toggle="tooltip" data-placement="top" title="Thêm vào Wishlist"><span class="fa fa-heart-o"></span></a>
							<a href="#" data-toggle="tooltip" data-placement="top" title="So sánh"><span class="fa fa-exchange"></span></a>
							<a href="#" data-toggle2="tooltip" data-placement="top" title="Xem nhanh" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>                            
						</div>
						<!-- product badge -->
						<span class="aa-badge aa-sale" href="#">-15%</span>
						</li>
						<!-- start single product item -->
						<li>
						<figure>
							<a class="aa-product-img" href="thong-tin-san-pham.hbs"><img class="product-frame-size" src="/images/game/forager.jpg" alt="forager img"></a>
							<a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ</a>
							<figcaption>
							<h4 class="aa-product-title"><a href="thong-tin-san-pham.hbs">Forager</a></h4>
							<span class="aa-product-price">188.000 VND</span>
							</figcaption>
						</figure>                     
						<div class="aa-product-hvr-content">
							<a href="#" data-toggle="tooltip" data-placement="top" title="Thêm vào Wishlist"><span class="fa fa-heart-o"></span></a>
							<a href="#" data-toggle="tooltip" data-placement="top" title="So sánh"><span class="fa fa-exchange"></span></a>
							<a href="#" data-toggle2="tooltip" data-placement="top" title="Xem nhanh" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>                            
						</div>
						<!-- product badge -->
						<span class="aa-badge aa-sale" href="#">NEW!</span>
						</li>
						<!-- start single product item -->
						<li>
						<figure>
							<a class="aa-product-img" href="thong-tin-san-pham.hbs"><img class="product-frame-size" src="/images/game/staxel.jpg" alt="staxel img"></a>
							<a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ</a>
							<figcaption>
							<h4 class="aa-product-title"><a href="thong-tin-san-pham.hbs">Staxel</a></h4>
							<span class="aa-product-price">188.000 VND</span>
							</figcaption>
						</figure>                     
						<div class="aa-product-hvr-content">
							<a href="#" data-toggle="tooltip" data-placement="top" title="Thêm vào Wishlist"><span class="fa fa-heart-o"></span></a>
							<a href="#" data-toggle="tooltip" data-placement="top" title="So sánh"><span class="fa fa-exchange"></span></a>
							<a href="#" data-toggle2="tooltip" data-placement="top" title="Xem nhanh" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>                            
						</div>
						<!-- product badge -->
						<span class="aa-badge aa-sale" href="#">NEW!</span>
						</li>
						<!-- start single product item -->
						<li>
						<figure>
							<a class="aa-product-img" href="thong-tin-san-pham.hbs"><img class="product-frame-size" src="/images/game/rocket-league.jpg" alt="rocket league img"></a>
							<a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ</a>
							<figcaption>
							<h4 class="aa-product-title"><a href="thong-tin-san-pham.hbs">Rocket League</a></h4>
							<span class="aa-product-price small-text"><del>188.000 VND</del></span><br>
							<span class="aa-product-price">113.000 VND</span>
							</figcaption>
						</figure>                     
						<div class="aa-product-hvr-content">
							<a href="#" data-toggle="tooltip" data-placement="top" title="Thêm vào Wishlist"><span class="fa fa-heart-o"></span></a>
							<a href="#" data-toggle="tooltip" data-placement="top" title="So sánh"><span class="fa fa-exchange"></span></a>
							<a href="#" data-toggle2="tooltip" data-placement="top" title="Xem nhanh" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>                            
						</div>
						<!-- product badge -->
						<span class="aa-badge aa-sale" href="#">-40%</span>
						</li>
					  </ul>
                      <a class="aa-browse-btn" href="#">Xem tất cả <span class="fa fa-long-arrow-right"></span></a>
                    </div>
                    <!-- / game product category -->					
                  </div>
                  <!-- quick view modal -->                  
                  <div class="modal fade" id="quick-view-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">                      
                        <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <div class="row">
                            <!-- Modal view slider -->
                            <div class="col-md-6 col-sm-6 col-xs-12">                              
                              <div class="aa-product-view-slider">                                
                                <div class="simpleLens-gallery-container" id="demo-1">
                                  <div class="simpleLens-container">
                                      <div class="simpleLens-big-image-container">
                                          <a class="simpleLens-lens-image" data-lens-image="/images/slider/sekiro-background.jpg">
                                              <img src="/images/slider/sekiro-background.jpg" class="simpleLens-big-image">
                                          </a>
                                      </div>
                                  </div>
                                  <div class="simpleLens-thumbnails-container">
                                      <a href="#" class="simpleLens-thumbnail-wrapper"
                                         data-lens-image="/images/slider/sekiro-background.jpg"
                                         data-big-image="/images/slider/sekiro-background.jpg">
                                          <img class="view-slider-size" src="/images/slider/sekiro-background.jpg">
                                      </a>                                    
                                      <a href="#" class="simpleLens-thumbnail-wrapper"
                                         data-lens-image="/images/slider/sekiro-background-2.jpg"
                                         data-big-image="/images/slider/sekiro-background-2.jpg">
                                          <img class="view-slider-size" src="/images/slider/sekiro-background-2.jpg">
                                      </a>

                                      <a href="#" class="simpleLens-thumbnail-wrapper"
                                         data-lens-image="/images/slider/sekiro-background-3.jpg"
                                         data-big-image="/images/slider/sekiro-background-3.jpg">
                                          <img class="view-slider-size" src="/images/slider/sekiro-background-3.jpg">
                                      </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- Modal view content -->
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <div class="aa-product-view-content">
                                <h3>Sekiro: Shadows Die Twice</h3>
                                <div class="aa-price-block">
                                  <span class="aa-product-view-price">1.290.000 VND</span>
                                  <p class="aa-product-avilability">Trạng thái: <span>Còn hàng</span></p>
                                </div>
                                <p>Carve your own clever path to vengeance in an all-new adventure from developer FromSoftware, creators of Bloodborne and the Dark Souls series. Take Revenge. Restore your honor. Kill Ingeniously.</p>                            
                                <div class="aa-prod-quantity">									
									<p class="aa-prod-category">
										Nhà phát triển: <a href="#">FromSoftware</a>
									</p>
									<p class="aa-prod-category">
										Nhà phát hành: <a href="#">Activision (Excluding Japan and Asia)</a>
									</p>
									<p class="aa-prod-category">
										Thể loại: <a href="#">Chặt chém</a> <a href="#">Nhập vai</a>
									</p>
									<p></p>
									<p class="aa-prod-category">
										Số lượng:
									</p>
									<form action="">
										<select id="" name="">
										<option selected="1" value="0">1</option>
										<option value="1">2</option>
										<option value="2">3</option>
										<option value="3">4</option>
										<option value="4">5</option>
										<option value="5">6</option>
										<option value="6">7</option>
										<option value="7">8</option>
										<option value="8">9</option>
										<option value="9">10</option>
										</select>
									</form>
                                </div>
                                <div class="aa-prod-view-bottom">
                                  <a href="#" class="aa-add-to-cart-btn"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ</a>
                                  <a href="thong-tin-san-pham.hbs" class="aa-add-to-cart-btn">Xem chi tiết</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>                        
                      </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                  </div><!-- / quick view modal -->             
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Game section -->
  
  <!-- Support section -->
  <section id="aa-support">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-support-area">
            <!-- single support -->
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="aa-support-single">
                <span class="fa fa-truck"></span>
                <h4>GIAO HÀNG MIỄN PHÍ</h4>
                <P>Hỗ trợ giao hàng miễn phí cho khách hàng trong thời gian sớm nhất.</P>
              </div>
            </div>
            <!-- single support -->
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="aa-support-single">
                <span class="fa fa-clock-o"></span>
                <h4>HOÀN TRẢ TRONG 30 NGÀY</h4>
                <P>Các sản phẩm khách hàng đã mua nếu không ưng ý có thể hoàn trả hoặc đổi mới trong vòng 30 ngày kể từ ngày mua.</P>
              </div>
            </div>
            <!-- single support -->
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="aa-support-single">
                <span class="fa fa-phone"></span>
                <h4>HỖ TRỢ 24/7</h4>
                <P>Website luôn luôn túc trực 24/7 để phục vụ khách hàng mọi lúc mọi nơi.</P>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>  
  <!-- / Support section -->

  <!-- Latest Blog -->
  <section id="aa-latest-blog">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-latest-blog-area">
            <h2>TIN TỨC</h2>
            <div class="row">
              <!-- single latest blog -->
              <div class="col-md-4 col-sm-4">
                <div class="aa-latest-blog-single">
                  <figure class="aa-blog-img">                    
                    <a href="#"><img src="/images/news/mortal-kombat-11-news.jpg" alt="img"></a>  
                      <figcaption class="aa-blog-img-caption">
                      <span href="#"><i class="fa fa-eye"></i>100K</span>
                      <a href="#"><i class="fa fa-thumbs-o-up"></i>50K</a>
                      <a href="#"><i class="fa fa-comment-o"></i>1k</a>
                      <span href="#"><i class="fa fa-clock-o"></i>22/04/2019</span>
                    </figcaption>                          
                  </figure>
                  <div class="aa-blog-info">
                    <h3 class="aa-blog-title"><a href="#">Bản tiếp theo của Rồng đen - Mortal Kombat 11 đã chính thức phát hành vào nhôm nay 23/4</a></h3>
                    <p>Tựa game "tuổi thơ" Rồng đen đã chính thức phát hành phiên bản tiếp theo là Mortal Kombat 11, bao gồm chế độ cốt truyện, đối kháng và rất nhiều thứ hay ho, mới mẻ khác.</p> 
                    <a href="#" class="aa-read-mor-btn">Đọc tiếp <span class="fa fa-long-arrow-right"></span></a>
                  </div>
                </div>
              </div>
              <!-- single latest blog -->
              <div class="col-md-4 col-sm-4">
                <div class="aa-latest-blog-single">
                  <figure class="aa-blog-img">                    
                    <a href="#"><img src="/images/news/life-is-strange-2-news.jpg" alt="img"></a>  
                      <figcaption class="aa-blog-img-caption">
                      <span href="#"><i class="fa fa-eye"></i>83k</span>
                      <a href="#"><i class="fa fa-thumbs-o-up"></i>80k</a>
                      <a href="#"><i class="fa fa-comment-o"></i>15k</a>
                      <span href="#"><i class="fa fa-clock-o"></i>23/04/2019</span>
                    </figcaption>                          
                  </figure>
                  <div class="aa-blog-info">
                    <h3 class="aa-blog-title"><a href="#">Life is Strange 2 hé lộ ngày ra mắt Episode 3</a></h3>
                    <p>Đây hứa hẹn sẽ tiếp tục đưa game thủ vào một câu truyện thế giới tuổi teen, siêu năng lực, drama thú vị và kịch tính hơn nhiều hai Episode đầu tiên.</p> 
                     <a href="#" class="aa-read-mor-btn">Đọc tiếp <span class="fa fa-long-arrow-right"></span></a>         
                  </div>
                </div>
              </div>
              <!-- single latest blog -->
              <div class="col-md-4 col-sm-4">
                <div class="aa-latest-blog-single">
                  <figure class="aa-blog-img">                    
                    <a href="#"><img src="/images/news/truc-tiep-game-news.jpg" alt="img"></a>  
                      <figcaption class="aa-blog-img-caption">
                      <span href="#"><i class="fa fa-eye"></i>1M5</span>
                      <a href="#"><i class="fa fa-thumbs-o-up"></i>1M5</a>
                      <a href="#"><i class="fa fa-comment-o"></i>100k</a>
                      <span href="#"><i class="fa fa-clock-o"></i>22/04/2019</span>
                    </figcaption>                          
                  </figure>
                  <div class="aa-blog-info">
                    <h3 class="aa-blog-title"><a href="#">Tưng bừng khai trương, Dũng CT mở thêm cửa hàng mới mang tên "Đụt Quán"</a></h3>
                    <p>Đây hứa hẹn sẽ quy tụ hơn 500 AE đến để ủng hộ và giao lưu với Dũng CT và các thành viên trong Team Dụt.</p> 
                    <a href="#" class="aa-read-mor-btn">Đọc tiếp <span class="fa fa-long-arrow-right"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>    
      </div>
    </div>
  </section>
  <!-- / Latest Blog -->

  <!-- Client Brand -->
  <section id="aa-client-brand">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-client-brand-area">
            <ul class="aa-client-brand-slider">
              <li><a href="#"><img class="original-size" src="/images/h1-client-img-1.png" alt="steel series img"></a></li>
              <li><a href="#"><img class="original-size" src="/images/h1-client-img-2.png" alt="razer img"></a></li>
              <li><a href="#"><img class="original-size" src="/images/h1-client-img-3.png" alt="roccat img"></a></li>
              <li><a href="#"><img class="original-size" src="/images/h1-client-img-4.png" alt="gunnar img"></a></li>
              <li><a href="#"><img class="original-size" src="/images/h1-client-img-5.png" alt="ttesport img"></a></li>
			  <li><a href="#"><img class="original-size" src="/images/h1-client-img-6.png" alt="cmstorm img"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Client Brand -->
