<!-- menu -->
<section id="menu">
	<div class="container">
	<div class="menu-area">
		<!-- Navbar -->
		<div class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>          
		</div>
		<div class="navbar-collapse collapse">
			<!-- Left nav -->
			<ul class="nav navbar-nav">
			<li><a href="/">TRANG CHỦ</a></li>
			<li><a href="#">TIN TỨC</a></li>
			<li><a href="san-pham.hbs">GAME <span class="caret"></span></a>
				<ul class="dropdown-menu">                
				<li><a href="#">Hành động</a>
					<ul class="dropdown-menu">
					<li><a href="#">FPS</a></li>
					<li><a href="#">TPF</a></li>
					<li><a href="#">Chặt chém</a></li>                                      
					</ul>
				</li>
				<li><a href="#">Phiêu lưu</a>
					<ul class="dropdown-menu">
					<li><a href="#">Thế giới mở</a></li>
					<li><a href="#">Nhập vai</a></li>
					<li><a href="#">Sinh tồn</a></li>
					<li><a href="#">Kinh dị</a></li>
					<li><a href="#">Steath</a></li>						
					</ul>
				</li>
				<li><a href="#">Chiến thuật</a></li>
				<li><a href="#">Thể thao</a></li>                                                
				<li><a href="#">Khác</a>
					<ul class="dropdown-menu">
					<li><a href="#">Indie</a></li>
					<li><a href="#">Mô phỏng-quản lý</a></li>
					<li><a href="#">Multiplayer</a></li>						
					</ul>
				</li>              
				</ul>
			</li>              		  
			<li><a href="#">THÔNG TIN<span class="caret"></span></a>
				<ul class="dropdown-menu">                
				<li><a href="#">Chính sách bảo mật</a></li>
				<li><a href="#">Điều khoản dịch vụ</a></li>  
				<li><a href="#">Liên hệ</a></li>              
				</ul>
			</li>             				
			</ul>
		</div><!--/.nav-collapse -->
		</div>
	</div>       
	</div>
</section>
<!-- / menu -->

<!-- catg header banner section -->
<section id="aa-catg-head-banner">
<div class="header-banner-size">
	<div class="aa-catg-head-banner-area">
		<div class="container">
			<div class="aa-catg-head-banner-content">
			<h2>Wishlist</h2>
			<ol class="breadcrumb">
				<li><a href="/">Trang chủ</a></li>			
				<li class="active">Wishlist</li>
			</ol>
			</div>
		</div>
	</div>
</div>
</section>
<!-- / catg header banner section -->

<!-- Cart view section -->
 <section id="cart-view">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="cart-view-area">
           <div class="cart-view-table aa-wishlist-table">
             <form action="">
               <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th></th>
                        <th></th>
                        <th>Sản phẩm</th>
                        <th>Giá tiền</th>
                        <th>Tình trạng</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><a class="remove" href="#"><fa class="fa fa-close"></fa></a></td>
                        <td><a href="#"><img src="/images/game/stardew-valley.jpg" alt="img"></a></td>
                        <td><a class="aa-cart-title" href="#">Stardew Valley</a></td>
                        <td>165.000 VND</td>
                        <td>Còn hàng</td>
                        <td><a href="#" class="aa-add-to-cart-btn">Thêm vào giỏ</a></td>
                      </tr>
                      <tr>
                        <td><a class="remove" href="#"><fa class="fa fa-close"></fa></a></td>
                        <td><a href="#"><img src="/images/game/red-dead-2.jpg" alt="img"></a></td>
                        <td><a class="aa-cart-title" href="#">Red Dead Redemption 2</a></td>
                        <td>1.130.000 VND</td>
                        <td>In Stock</td>
                        <td><a href="#" class="aa-add-to-cart-btn">Thêm vào giỏ</a></td>
                      </tr>                                       
                      </tbody>
                  </table>
                </div>
             </form>             
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- / Cart view section -->
